{% load static %}

<!--header-->
<header class="clearfix">

	<div class="box">
		<div class="container">

			<div class="header-element clearfix">
				<div class="row">
					<div class="col-md-4">
						<h1 class="navbar-brand navbar-brand_"><a href="index.html"><img class="img-responsive" src="{% static 'home/img/logo.png'%}" alt="logo"></a></h1>
					</div>
					<div class="col-md-8">
						<ul class="flexy-menu orange">
							<li class="active"><a href="index.html"><i class="icon-heart"></i>Home</a></li>
							<li><a href="about.html"><i class="icon-cogs"></i>About</a></li>
							<li><a href="event.html"><i class="icon-th"></i>Events</a>
							</li>
							<li><a href="faculty.html"><i class="icon-th"></i>Faculty</a></li>
							<li><a href="admissions.html"><i class="icon-th"></i>Admissions</a></li>
							<li><a href="JavaScript:void(0)"><i class="icon-th"></i>Blog</a>
								<ul>
									<li><a href="blog.html">Blog</a></li>
									<li><a href="blog-single.html">Blog Single</a></li>
								</ul>
							</li>
							<li><a href="contact.html"><i class="icon-envelope"></i>Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!--header-->
