{% load static %}

<!--header-->
<header class="clearfix">

	<div class="box">
		<div class="container">

			<div class="header-element clearfix">
				<div class="row">
					<div class="col-md-4">
						<h1 class="navbar-brand navbar-brand_"><a href="index.html"><img class="img-responsive" src="{% static 'home/img/logo.png'%}" alt="logo"></a></h1>
					</div>
					<div class="col-md-8">
						<ul class="flexy-menu orange">
							<li class="active"><a href="/"><i class="icon-heart"></i>Главная</a></li>
							<li><a href="/#tests"><i class="icon-cogs"></i>Тесты</a></li>
							<li><a href="/#teachers"><i class="icon-cogs"></i>Учители</a></li>
							<li><a href="/#news"><i class="icon-cogs"></i>Новости</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!--header-->
