{% load static %}
<!--Begin news -->
<div class="du-news" id="news">
    <div class="container">
        <h2 class="center" style="color: white;">Новости</h2>
        <div class="row">
            {% for new in news %}
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="du-news-item wow fadeInLeft">
                        <figure><img class="img-responsive" src="{{ new.image.url }}" alt=""></figure>
                        <div class="du-caption-box">
                            <div class="du-caption">
                                <h3>{{ new.title }}</h3>
                                <p>{{ new.description }}</p>
                                <a href="/news/{{ new.id }}/"><img src="{% static 'home/img/more_arrow1.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--End news-->
