{% load static %}
<div class="dream-university">


    <!--Begin feature-->
    <div class="du-feature">
        <div class="container">
            <h2 class="center">Урок: {{ lesson.title }} </h2>
            <div class="row pt-50 ">
                <div class="col-12 pb-30">
                    <div class="d-flex gap-2 justify-content-between">
                        <a href="/lesson/{{ lesson.language.id }}/" class="btn btn-primary mx-20">
                            Назад
                        </a>
                        {% if lesson.is_test == True %}
                            <a href="/test/{{ lesson.test.id }}/" class="btn btn-success mx-20">
                                <i class="fa fa-check-square"></i> Тест
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-12 col-md-4 col-sm-4 pb-30">
                    {{ lesson.description | safe }}
                </div>
            </div>
        </div>
    </div>
    <!-- End feature -->

</div>