# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore local development settings
local_settings.py

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore any log files
*.log

# Ignore database files
db.sqlite3

# Ignore secret keys
secrets.json
