<!-- accounts/templates/accounts/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в словарь Арген</title>
        {% include 'links.html' %}

</head>
<body>
<div class="container p-5">
    <h1>Вход</h1>
    <form class="form-control shadow-sm" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p>
            <label for="id_username">Логин:</label>
            <input type="text" name="username" required="" id="id_username" class="form-control">
        </p>

        <p>
            <label for="id_password">Пароль:</label>
            <input type="password" name="password" required="" id="id_password" class="form-control">
        </p>

        <button class="btn btn-success" type="submit">Войти</button>
    </form>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a>, <a
            href="https://youtu.be/1prAVEXO8xw">Помощь</a></p>
</div>
<script>
    let inp = document.querySelectorAll('input')
    for (let i = 0; i < inp.length; i++) {
        inp[i].classList.add('form-control')
    }
</script>
</body>
</html>
