<!-- accounts/templates/accounts/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login slovar Argen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container p-5">
    <h1>Login</h1>
       <form class="form-control shadow-sm" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Login</button>
        </form>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
    </div>
    <script>
        let inp = document.querySelectorAll('input')
        for (let i = 0; i < inp.length; i++) {
            inp[i].classList.add('form-control')
        }
    </script>
</body>
</html>
