<!-- accounts/templates/accounts/signup.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация в словаре Аргена</title>
        {% include 'links.html' %}
</head>
<body>
<div class="container p-5">
    <h1>Регистрация</h1>
    <form class="form-control shadow-sm" method="post">
        {% csrf_token %}
        <p>
            <label for="id_username">Логин:</label>
            <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username"
                   autofocus="" required="" minlength="4" id="id_username" class="form-control">
        </p>

        <p>
            <label for="id_email">Электронная почта:</label>
            <input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control">
        </p>

        <p>
            <label for="id_password1">Пароль:</label>
            <input type="password" name="password1" minlength="8" autocomplete="new-password" required="" id="id_password1"
                   class="form-control">
            <span class="helptext"></span>
        <ul>
            <li>Пароль не должен совпадать с вашей личной информацией.</li>
            <li>Пароль должен содержать не менее 8 символов.</li>
            <li>Пароль не должен быть слишком распространенным.</li>
            <li>Пароль не должен состоять только из цифр.</li>
        </ul>
        </p>

        <p>
            <label for="id_password2">Подтверждение пароля:</label>
            <input type="password" name="password2" minlength="8"  autocomplete="new-password" required="" id="id_password2"
                   class="form-control">
            <span class="helptext">Введите тот же пароль, что и ранее, для подтверждения.</span>
        </p>

        <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
    </form>
    <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a> <a href="https://youtu.be/1prAVEXO8xw">Помощь</a></p>
</div>
<script>
    let inp = document.querySelectorAll('input')
    for (let i = 0; i < inp.length; i++) {
        inp[i].classList.add('form-control')
    }
</script>
</body>
</html>
