<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game word</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'header.html' %}
    <div class="container" style="min-height: 85vh">
        <div class="p-2 bg-light border-none row">
            <input oninput="changeLength()" type="text" placeholder="to" value="0" class="col form-control">
            <input oninput="changeLength()" type="text" placeholder="do" value="0" class="col form-control">
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
                <td>№</td>
                <td>Word</td>
                <td>Translate</td>
            </tr>
          </thead>
          <tbody>
           {% for i in words %}
            <tr id="id_word" id_test = '{{ i.id }}' class="word_{{ i.id }}">
                <td>{{ forloop.counter }}</td>
                <td class="word">{{ i.word }}</td>
                <td class="translate">{{ i.translate }}</td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
    </div>
    <script>
        let words = []
        let wordLength
        let id = ''
        document.querySelector('#word-game-a').classList.add('active')
        window.onload = () => {
            let tdsW = document.querySelectorAll('.word')
            let tdsT= document.querySelectorAll('.translate')
            id = document.querySelectorAll('#id_word')
            for (let i = 0; i < id.length; i++) {
                let getId = id[i].getAttribute('id_test')
                let getWord = tdsW[i].textContent
                let getTranslate = tdsT[i].textContent
                let newWord = {'id':getId, 'word':getWord, 'translate':getTranslate}
                words.push(newWord)
            }
            wordLength = words.length;
        }
        function findWord(e) {
            e = (e.value + '').toLowerCase();
            for (let i = 0; i < wordLength; i++) {
                let w = (words[i]['word'] + '').toLowerCase()
                let t = (words[i]['translate'] + '').toLowerCase()
                id[i].classList.add('d-none')
                if (w.search(e) > -1 || t.search(e) > -1) {
                    id[i].classList.remove('d-none')
                }
            }
        }
    </script>
    <footer class="bg-black text-white p-5 text-center">
        <span>company@2024/<a href="https://bytehoven.dev" class="text-white">bytehoven</a> - argenazizbekuulu3@gmail.com</span>
    </footer>
</body>
</html>
