{% load static %}
<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game text</title>
    {% include 'links.html' %}
</head>
<body>
{% include 'header.html' %}
<div class="container" style="min-height: 85vh">
    <div class="p-2 bg-light border-none row">
        <input oninput="changeLength()" type="number" id="to" placeholder="to" value="0" class="col form-control">
        <input oninput="changeLength()" type="number" id="do" placeholder="do" value="0" class="col form-control">
    </div>
    <div class="shadow-sm row p-2">
        <h4 class="bg-light border-bottom p-2"> Найти тест</h4>
        <div class="col-12 p-3 text-center question fs-5">Добавьте не менее 5 текстов. <a href="/add-text/">Добавить</a>
        </div>
        <input type="text" oninput="verify(this)" class=" my-3 col-12 form-control" placeholder="Translate">
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>№</td>
            <td>Тест</td>
            <td>Перевод</td>
        </tr>
        </thead>
        <tbody class="showGame">
        </tbody>
    </table>
    <table class="table table-hover d-none">
        <thead>
        <tr>
            <td>№</td>
            <td>Word</td>
            <td>Translate</td>
        </tr>
        </thead>
        <tbody>
        {% for i in words %}
            <tr id="id_word" id_test='{{ i.id }}' class="word_{{ i.id }}">
                <td>{{ forloop.counter }}</td>
                <td class="word">{{ i.word }}</td>
                <td class="translate">{{ i.translate }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
    let words = []
    let game = []
    let wordLength
    let id = ''
    let toInp = document.querySelector('#to')
    let doInp = document.querySelector('#do')
    let question = document.querySelector('.question')
    let toN = 0;
    let doN = 0;
    document.querySelector('#text-game-a').classList.add('active')
    window.onload = () => {
        let tdsW = document.querySelectorAll('.word')
        let tdsT = document.querySelectorAll('.translate')
        id = document.querySelectorAll('#id_word')
        for (let i = 0; i < id.length; i++) {
            let getId = id[i].getAttribute('id_test')
            let getWord = tdsW[i].textContent
            let getTranslate = tdsT[i].textContent
            let newWord = {'id': getId, 'word': getWord, 'translate': getTranslate}
            words.push(newWord)
        }
        wordLength = words.length;
        doInp.value = wordLength;
        doN = wordLength;
        if (wordLength > 4) playStart()
    }

    function changeLength() {
        toN = +toInp.value
        doN = +doInp.value
        game = []
        showGame()
        playStart()
    }

    function verify(e) {
        let a = (removeTrailingSpaces(e.value + '')).toLowerCase();
        if (game.length - 1 >= 0 && removeTrailingSpaces(game[game.length - 1]['translate'] + '').toLowerCase() === a) {
            e.value = ''
            showGame();
            playStart()
        }
    }

    function showGame() {
        let show = ``
        for (let i = game.length - 1; i > -1; i--) {
            show += `
                    <tr>
                        <td>${i + 1}</td>
                        <td>${game[i]['word']}</td>
                        <td>${game[i]['translate']}</td>
                    </tr>
                `;
        }
        document.querySelector('.showGame').innerHTML = show
    }

    function playStart() {
        if (toN < doN) {
            while (true) {
                let r = Math.floor(Math.random() * (doN - toN))
                let f = 0;
                let w1;
                if (doN - toN === game.length) game = []
                if (toN + r < wordLength) {
                    f = 1;
                    w1 = words[toN + r];
                    for (let i = 0; i < game.length; i++) {
                        if (game[i]['id'] === w1['id']) {
                            f = 0;
                            break;
                        }
                    }
                }
                if (f) {
                    game.push(w1)
                    question.innerHTML = `<div class='py-2 rounded show-text'>${w1['word']} <div class="text-end pe-1"><button class="btn btn-light" onclick="learned()">Не выучил</button></div></div>`
                    break;
                }
            }
        }
    }

    function learned() {
        let id = game[game.length - 1]['id'];

        fetch(`/learned-text/${id}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
        })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        for (let i = 0; i < words.length; i++) {
            if (words[i]['id'] === game[game.length - 1]['id']) {
                words.splice(i, 1)
            }
        }
        wordLength = words.length;
        doInp.value = wordLength;
        doN = wordLength;
        game.pop()
        playStart();
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>
<footer class="bg-black text-white p-5 text-center">
    <span>company@2024/<a href="https://bytehoven.dev"
                          class="text-white">bytehoven</a> - argenazizbekuulu3@gmail.com</span>
</footer>
</body>
</html>
