<nav class="navbar bg-dark navbar-expand-lg border-bottom border-body" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="#">SlovarAN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" id="home-a" aria-current="page" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="text-a" href="/text/">Текст</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="word-game-a" href="/game-word/">Игра со словами</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="text-game-a" href="/game-text/">Текстовая игра</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="word-add-a" href="/add-word/">Добавить слово</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="text-add-a" href="/add-text/">Добавить текст</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="text-learned-a" href="/show-learned-text/">Выучит текст</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="word-learned-a" href="/show-learned-word/">Выучит слово</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://youtu.be/1prAVEXO8xw">Помощь</a>
                </li>
            </ul>
            <button class="btn border-none text-light me-3" onclick="createDesktopShortcut()">Поделиться</button>

            <script>
                async function createDesktopShortcut() {
                    if ('share' in navigator) {
                        try {
                            await navigator.share({
                                title: 'Your App',
                                text: 'Visit our app!',
                                url: 'https://slovaran.pythonanywhere.com/'
                            });
                            console.log('Desktop shortcut created successfully.');
                        } catch (error) {
                            console.error('Error creating desktop shortcut:', error);
                        }
                    } else {
                        console.error('Web Share Target API is not supported.');
                    }
                }
            </script>
            <span class="text-white">
            {{ user.username }}
          </span>
            <span class="ms-2">
                <a href="{% url 'logout' %}">Выйти</a>
            </span>
        </div>
    </div>
</nav>